@{
    ViewData["Title"] = "Error";
    Layout = "_LayoutLatihan";
    <link rel="stylesheet" href="~/css/Error.css" />
}
<div class="box">
    <div class="box__ghost">
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>

        <div class="box__ghost-container">
            <div class="box__ghost-eyes">
                <div class="box__eye-left"></div>
                <div class="box__eye-right"></div>
            </div>
            <div class="box__ghost-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="box__ghost-shadow"></div>
    </div>

    <div class="box__description">
        <div class="box__description-container">
            <div class="box__description-title">Whoops!</div>
            <div class="box__description-text">It seems like you have meet the bounderies of our website</div>
        </div>

        <a href="/login" class="box__button">Go back</a>

    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Error.js"></script>
}