@{
    ViewData["Title"] = "Excercise 1";
    Layout = "_LayoutLatihan";
}

<div class="display-excercise">
    <h1 class="box-1" id="judul">Welcome</h1>
</div>
    
<div class="contents relative">
    <div class="row">
        <div class="col-sm">
            <p>
                Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus.
                Nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor.
                Mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia.
                Aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac.
                Nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.
                Vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae.
            </p>
        </div>
        <div class="col-sm">
            <p>
                Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus.
                Nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor.
                Mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia.
                Aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac.
                Nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.
                Vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae.
            </p>
        </div>
        <div class="col-sm">
            <p>
                Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus.
                Nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor.
                Mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia.
                Aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
                Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac.
                Nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.
                Vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae.
            </p>
        </div>
    </div>
    <button type="button" id="btn-bg" class="btn btn-dark" onclick="changebg()">Change Background to Light</button>
</div>
<div class="fixed" id="popup" onclick="close()">
    This is a pop-up test
    <br>
    Double click to disable this pop-up
</div>