@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutLatihan";
}


<div class="relative">
    <h1 class="display-4">Dahon Calm</h1>
    <img src="https://www.dahon.jp/2021/product/bike/img/calm/img10.jpg" id="img-main" alt="Dahon Calm" />
    <br>
</div>
<div class="relative">
    <p class="content-detail">
        ※ 製品写真、スペック等は2021年モデルの内容となります。2022年モデルへの更新は10月頃を予定しています。<br />
        完成車価格: ¥69,300（税込）　※2021年7月13日以降の新価格 <br />
        カラー: <br />
        <a href="#orange" class="image" id="orange" onclick="diffImg('orange')">ドライオレンジ</a> <br />
        <a href="#stone" class="image" id="stone" onclick="diffImg('stone')">ギャラクシーストーン</a> <br />
        <a href="#blue" class="image" id="blue" onclick="diffImg('blue')">スティールブルー</a>
    </p>
    <button type="button" class="btn btn-dark" onclick="changebg()">Change Background to Light</button>
</div>

