@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Accounts Index</title>
</head>
<body>
    <div class="container">
        <h2>Accounts</h2>
    </div>
</body>
</html>

<script>

    $.ajax({
        url: "https://localhost:44321/api/accounts",
        success: function (value) {
            console.log(value);
        }
    })

</script>
