@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
</body>
</html>

<script>

    $.ajax({
        url: "https://localhost:44321/Employee/TestCors",
        success: function (result) {
            console.log(result);
        }
    })

</script>
